body{
  font-family: helvetica, sans-serif;
  background: #eee;
}

h1, h2, h3, h4, h5, h6{

}

.banner{
  padding: 20px 0px;

  color: #fff;
  background-image: url(../img/Atlas.jpg);
  background-size: 100%;
  background-position: center top;
}

.title{
  margin-top: 20px;
}

.main{
  margin-top: 50px;
}

.social{
  padding-top: 20px;
}

.social a, .social a:hover{
  text-decoration: none;
  color: inherit;
}
