body{
  font-family: helvetica, sans-serif;
  background: #eee;
}

h1, h2, h3, h4, h5, h6{
  margin: 0px;
}

ul{
  margin-top: 10px;
}

li{
  padding: 0 !important;
  height: 4rem;
  line-height: 4rem;
}

.banner{
  padding: 10px 0px;
  color: #fff;
  background-image: url(../img/Atlas.jpg);
  background-size: 100%;
  background-position: center top;
}

.main{
  margin-top: 30px;
}

ul a, ul a:hover{
  display: block;
  height: 100%;
  text-decoration:none;
  color:inherit;
}

li:hover{
  background: #eee;
}
