@import "css-reset.css";

body{
	color: #fff;
}

h1{font-size: 8rem;}
h3{font-size: 3rem;}

section{
	width: 100%;
	height: 100vh;
	padding-top: 38vh;
	text-align: center;
}

.poem{
	font-family: cursive;
}

.title-section{
	padding-top: 30vh;
	background: #DC3522;
}

.humpty-section{
	background: #D9CB9E;
}

.subtitle{
	opacity: 0;
	margin-top: 1rem;
}

.wall-section{
	background: #374140;
	color: #DC3522;
}

.humpty2-section{
	background: #2A2C2B;
}

.fall-section{
	background: #1E1E20;
	color:#D9CB9E;
}

.horses-section{
	background: #2A2C2B;
}

.men-section{
	background: #374140;
	color: #DC3522;
}

.together-section{
		padding-top: 10vh;
		background: #D9CB9E;
}

.split{
	display: inline;
}

.hum{
	margin-right: 5rem;
}

.pty{
	margin-left: 5rem;
}

.end{
	margin-top: 10rem;
}


/*CSS3 Transitions! -- Don't forget alternative prefixes!*/
@-webkit-keyframes fadeIn{
	from{opacity: 0; font-size: 3rem;}
	to{opacity: 1; font-size: 8rem;}
}

.fadeOnIn{
	-webkit-animation: fadeIn 1s ease-in;
}

@-webkit-keyframes fadeInSmall{
	from{opacity: 0; font-size: 1rem;}
	to{opacity: 1; font-size: 8rem;}
}

.fadeOnInSmall{

	-webkit-animation: fadeInSmall 1s ease-in normal forwards;
}

@-webkit-keyframes sitDown{
	from{-webkit-transform: translateY(300px);}
	to{-webkit-transform: translateY(0px);}
}

.sitOnDown{
	-webkit-animation: sitDown .7s cubic-bezier(1,1.68,.81,.77);
}

@-webkit-keyframes slideRight{
	0%{-webkit-transform:translateX(-1000px);}
	100%{-webkit-transform:translateX(0);}
}

.slideInRight{
	-webkit-animation: slideRight .8s ease-out;
}

@-webkit-keyframes dropIt{
	0%{-webkit-transform: translateY(0px) rotate(0deg);}
	100%{-webkit-transform: translateY(3000px) rotate(2080deg);}
}

.dropItLow{
	-webkit-animation: dropIt 3.5s ease-in normal forwards;
/*	-webkit-animation-name: dropIt;
	-webkit-animation-duration: 3.5s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-direction: normal;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;*/
}

@-webkit-keyframes gallop{
	0%{-webkit-transfrom: translateY(0);}
	25%{-webkit-transform: translateY(-20px);}
	50%{-webkit-transform: translateY(0px);}
	75%{-webkit-transform: translateY(-20px);}
	100%{-webkit-transfrom: translateY(0px);}

}

.gallopOn{
	-webkit-animation-name: gallop;
	-webkit-animation-duration: .5s;
	-webkit-animation-direction: normal;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .5s;
}

@-webkit-keyframes slideLeft{
	0%{-webkit-transform: translateX(1000px);}
	100%{-webkit-transform: translateX(0px);}
}

.slideInLeft{
	-webkit-animation: slideLeft .8s ease-out;
}

@-webkit-keyframes squishRight{
	0%{-webkit-transform: translateX(0rem);}
	80%{-webkit-transform: translateX(5rem);}
	90%{-webkit-transform: translateX(-.5rem);}
	100%{-webkit-transform: translateX(0rem);}
}

.squishItRight{
	/*-webkit-animation: squishRight .5s ease-in;*/
	-webkit-animation-name: squishRight;
	-webkit-animation-duration: 2s;
	-webkit-animation-direction: normal;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes squishLeft{
	0%{-webkit-transform: translateX(0rem);}
	80%{-webkit-transform: translateX(-5rem);}
	90%{-webkit-transform: translateX(.5rem);}
	100%{-webkit-transform: translateX(0rem);}
}

.squishItLeft{
	/*-webkit-animation: squishRight .5s ease-in;*/
	-webkit-animation-name: squishLeft;
	-webkit-animation-duration: 2s;
	-webkit-animation-direction: normal;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
}
