*{@include box-sizing(border-box);}

body{
	// background: lighten($bg_color, 20);
	// background: darken($bg_color, 20);
	background: rgba($bg_color, .5);
	font-family: 'Ubuntu Condensed';
}

nav{
	ul{
		@include myclearfix;
		li{
			list-style-type: none;
			float: left;
			margin-right: $list_margin;
			a{
				color: black;
				text-decoration: none;
				&:hover{
					color: blue;
				}
			}
		}
	}
}	//nav

article{
	@include border_radius(30px);
	@include box_shadow(2px 2px 2px 2px black);
	@include my_gradient;
}

aside{
	@include my_better_gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}