@mixin myclearfix{
	&:after{
		display: table;
		content: " ";
		clear: both;
	} //after
} //myclearfix

@mixin border_radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin box_shadow($value){
	-webkit-box-shadow: $value;
	box-shadow: $value;
}

@mixin my_gradient{
	background: #5e92a0; /* Old browsers */
	background: -moz-linear-gradient(top,  #5e92a0 0%, #3f4c6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e92a0), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5e92a0 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5e92a0 0%,#3f4c6b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5e92a0 0%,#3f4c6b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5e92a0 0%,#3f4c6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e92a0', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}

@mixin my_better_gradient($to, $from){
	background: $to; /* Old browsers */
	background: -moz-linear-gradient(top,  $to 0%, $from 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$to), color-stop(100%,$from)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $to 0%,$from 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $to 0%,$from 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $to 0%,$from 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $to 0%,$from 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$to', endColorstr='$from',GradientType=0 ); /* IE6-9 */
}